@import url(https://fonts.googleapis.com/css?family=Open%20Sans:400,300,500,700);

body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
	font-size: 18px;
	line-height: 160%;
	text-align: justify;
	background-color: #1e1e1e;
	color: #9e9e9e;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: #ddd;
	margin-bottom: 15px;
}

header {
	width: 666px;
	margin: 0 auto;
	padding-top: 15px;
	margin-bottom: 15px;
}

a {
	color: #9F9;
	text-decoration: none;
}

b {
	color: #eee;
	font-weight: bold;
}

i {
	font-style: italic;
}

hr {
	border: none;
	border-top: 1px solid #222;
	border-bottom: 1px solid #181818;
	width: 90%;
	margin-bottom: 45px;
}

blockquote:before{
	font-size: 24px;
	content:"“";
}

blockquote {
	color: #aaa;
	font-size: 18px;
	font-style: italic;
}

blockquote:after{
	font-size: 24px;
	position: relative;
	top: 15px;
	content:"”";
}

section, footer {
	width: 666px;
	margin: 0 auto;
}

img {
	background-color:#1a1a1a;
	border-color: #7e7e7e;
	padding: 5px;
}

img.hd {
	width: 655px;
	height: 374px;
}

img.dualhd {
	width: 655px;
	height: 187px;
}

img.four-three {
	width: 655px;
	height: 499px;
}

.center {
	margin: 0 auto;
}

figure figcaption {
	margin: 10px 20px 0 20px;
	font-size: 14px;
	color: #4e4e4e;
}

figure {
	margin-bottom: 45px;
}

footer {
	margin-bottom: 15px;
	font-size: 14px;
	color: #4e4e4e;
}

